<section id="footer">
	<header id="header_in_footer">
		<div class="wrapper">
			<div class="header">
				<div class="header__logo">
					<a href="index.html"><img src="img/logo.png" alt="logo" ></a>
				</div>
				<nav class="header__nav">
					<ul class="nav__list">
						<li><a class="nav__list__item" href="index.html">Главная</a></li>
						<li><a class="nav__list__item" href="gallery.html">Портфолио</a></li>
						<li><a class="nav__list__item" href="price.html">Цены</a></li>
						<li><a class="nav__list__item" href="contacts.html">Контакты</a></li>
					</ul>
				</nav>
				<div class="header__contacts">
					<p class="contacts__tel"><a href="tel:+79118360075">+7 (911) 836-00-75</a></p>
					<p class="contacts__email">
						<a href="mailto:vasya.tswetkow@yandex.ru">vasya.tswetkow@yandex.ru</a>
					</p>
				</div>
			</div>
		</div>
	</header>
	<footer>
		<div class="wrapper">
			<p class="owner">&copy Василий Цветков, 2017</p>
			<div class="link_container">
				<a class="link" href="https://instagram.com/tswet_art"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a class="link" href="https://vk.com/razrisyem"><i class="fa fa-vk" aria-hidden="true"></i></a>
			</div>

			<div class="develop_container">
				<h2 class="develop_title">Разработка сайта:</h2>
				<a class="develop_item" href="https://vk.com/liubov_yakymchuk">Любовь Якимчук</a>
				<a class="develop_item" href="https://vk.com/id94132474">Александр Иванов</a>
			</div>
		</div>
	</footer>
</section>
</div>

