<div id="price-modal" title="Рассчитать стоимость">
	<form class="price_form">

		<!-- Hidden required inputs -->
		<input type="hidden" name="project_name" value="VTSWET.RU">
		<input type="hidden" name="admin_email" value="alex-1994.94@mail.ru">
		<input type="hidden" name="form_subject" value="Цены">
		<!-- Hidden required inputs -->

		<label for="price__form_name">Ваше имя</label>
		<input type="text" name="name" id="price__form_name" placeholder="Введите текст">

		<label for="price__form_phone">Ваш телефон</label>
		<input type="text" name="phone" id="price__form_phone" placeholder="+7 (ххх) ххх-хх-хх">

		<label for="price__form_email">Ваш e-mail</label>
		<input type="text" name="email" id="price__form_email" placeholder="ivanovivan@mail.ru">

		<label for="price__form_name">Расскажите подробнее о заказе</label>
		<textarea type="text" name="name" id="price__form_name" placeholder="Введите текст"></textarea>
		<div class="btn_container">
			<input class="btn" type="submit" value="Отправить заявку">
		</div>
	</form>
</div>